extends ../layout/main

block variables
	- var title = 'Главная';

block content
	section.top-block
		.st-width
			.top-block__content
				.top-block__info
					.top-block__logo
						img(src="assets/img/logo.svg", alt="")

					a(href="https://palich.ru/").btn заказать <u>в нашем магазине</u>
		
					.top-block__slogan Мы подготовили для вас ассортимент вкуснейших блюд разных кухонь мира!

				.top-block__img-wrap
					.top-block__img
						img(src="assets/img/plate.png", alt="")
					.top-block__label Совершайте Кулинарное путешествие с&nbsp;готовыми блюдами ТМ «У Палыча»!


			.btn-mouse
				img(src="assets/img/mouse.svg", alt="")


	section.products
		.st-width
			.products__desc
				|У нас вы можете найти только шедевры мировой кухни от Европы до Азии!
				br
				|Эксклюзивные разработки блюд от Бренд-шефа, с сохранением уникального и неповторимого вкуса!

			
			.js-to-move(data-move="products")
			.filter
				.filter__label Выбери страну для кулинарного путешествия:

				select.js-choose-country(name='country')
					option(value='france') Франция
					option(value='italy') Италия
					option(value='japan') Япония
					option(value='georgia') Грузия
					option(value='thailand') Таиланд
					option(value='hawaii') Гаваи
					option(value='greece') Греция
					option(value='america') Америка
					option(value='uzbekistan') Узбекистан
					option(value='vietnam') Вьетнам

			.category
				.category__item.js-category-item(data-type="salad")
					.category__img
						img(src="assets/img/salad.png", alt="")

					.category__label Салаты

				.category__item.js-category-item(data-type="first")
					.category__img
						img(src="assets/img/soup.png", alt="")

					.category__label Первые блюда

				.category__item.js-category-item(data-type="second")
					.category__img
						img(src="assets/img/pasta.png", alt="")

					.category__label Вторые блюда

			.products-list
				-
					var list=[
						//- {
						//- 	img:'product1_1.jpg',
						//- 	img2:'product1_2.jpg',
						//- 	title:'ПалычЛанч-Итальянская паста Болоньезе',
						//- 	country:'Италия',
						//- 	country_code: 'italy',
						//- 	type:'second'
						//- },
						{
							img:'product1_1.jpg',
							img2:'product1_2.jpg',
							title:'ПалычЛанч Жульен с курин. филе и шампиньонами 0,12',
							country:'Франция',
							country_code: 'france',
							link:'#',
							type:'second'
						},
						{
							img:'product2_1.jpg',
							img2:'product2_2.jpg',
							title:'ПалычЛанч Итал паста с мяс ас в слив соусе 0,21',
							country:'Италия',
							country_code: 'italy',
							link: 'https://palich.ru/catalog/gotovye_blyuda/vtorye_blyuda/palychlanch_italyanskaya_pasta_s_myasnym_assorti_v_slivochnom_souse_210_g/',
							type:'second'
						},
						{
							img:'product3_1.jpg',
							img2:'product3_2.jpg',
							title:'ПалычЛанч Итал.паста Болоньезе 0,21',
							country:'Италия',
							country_code: 'italy',
							link:'https://palich.ru/catalog/gotovye_blyuda/vtorye_blyuda/palychlanch_italyanskaya_pasta_boloneze_210_g/',
							type:'second'
						},
						{
							img:'product4_1.jpg',
							img2:'product4_2.jpg',
							title:'ПалычЛанч Итал.паста Карбонара 0,21',
							country:'Италия',
							country_code: 'italy',
							link:'https://palich.ru/catalog/gotovye_blyuda/vtorye_blyuda/palychlanch_italyanskaya_pasta_karbonara_210_g/',
							type:'second'
						},
						{
							img:'product5_1.jpg',
							img2:'product5_2.jpg',
							title:'ПалычЛанч Итал.паста с курицей 0,21',
							country:'Италия',
							country_code: 'italy',
							link:'https://palich.ru/catalog/gotovye_blyuda/vtorye_blyuda/palychlanch_italyanskaya_pasta_s_kuritsey_210_g/',
							type:'second'
						},
						{
							img:'product6_1.jpg',
							img2:'product6_2.jpg',
							title:'ПалычЛанч Итал.паста с шампиньонами 0,21',
							country:'Италия',
							country_code: 'italy',
							link:'https://palich.ru/catalog/gotovye_blyuda/vtorye_blyuda/palychlanch_italyanskaya_pasta_s_shampinonami_210_g/',
							type:'second'
						},
						{
							img:'product7_1.jpg',
							img2:'product7_2.jpg',
							title:'ПалычЛанч Лапша Удон с курицей в соусе Терияки 0,22',
							country:'Япония',
							country_code: 'japan',
							link:'https://palich.ru/catalog/gotovye_blyuda/vtorye_blyuda/palychlanch_lapsha_udon_s_kuritsey_v_souse_teriyaki_220_g/',
							type:'second'
						},
						{
							img:'product8_1.jpg',
							img2:'product8_2.jpg',
							title:'ПалычЛанч Люля-кебаб из курицы с кускусом 0,245',
							country:'Грузия',
							country_code: 'georgia',
							link:'https://palich.ru/catalog/gotovye_blyuda/vtorye_blyuda/palychlanch_lyulya_kebab_iz_kuritsy_s_kus_kusom_245_g/',
							type:'second'
						},
						{
							img:'product9_1.jpg',
							img2:'product9_2.jpg',
							title:'ПалычЛанч Итал.паста Альфредо с куриц и гриб 0,22',
							country:'Италия',
							country_code: 'italy',
							link:'https://palich.ru/catalog/gotovye_blyuda/vtorye_blyuda/palychlanch_italyanskaya_pasta_alfredo_s_kuritsey_i_gribami_220_g/',
							type:'second'
						},
						{
							img:'product10_1.jpg',
							img2:'product10_2.jpg',
							title:'ПалычЛанч Пик кур в соев соусе с рис лапшой 0,2',
							country:'Таиланд',
							country_code: 'thailand',
							link:'https://palich.ru/catalog/gotovye_blyuda/vtorye_blyuda/palychlanch_pikantnaya_kuritsa_v_soevom_souse_s_risovoy_lapshoy_200_g/',
							type:'second'
						},
						{
							img:'product11_1.jpg',
							img2:'product11_2.jpg',
							title:'ПалычЛанч Пикантная свин в соус Тер с кус-кус 0,21',
							country:'Таиланд',
							country_code: 'thailand',
							link:'https://palich.ru/catalog/gotovye_blyuda/vtorye_blyuda/palychlanch_pikantnaya_svinina_v_souse_teriyaki_s_kus_kusom_210_g/',
							type:'second'
						},
						{
							img:'product12_1.jpg',
							img2:'product12_2.jpg',
							title:'ПалычЛанч Соба с курицей 0,2',
							country:'Япония',
							country_code: 'japan',
							link:'https://palich.ru/catalog/gotovye_blyuda/vtorye_blyuda/palychlanch_soba_s_kuritsey_200_g/',
							type:'second'
						},
						{
							img:'product13_1.jpg',
							img2:'product13_2.jpg',
							title:'ПалычЛанч Соба с ОВОЩАМИ 0,2',
							country:'Япония',
							country_code: 'japan',
							link:'https://palich.ru/catalog/gotovye_blyuda/vtorye_blyuda/palychlanch_soba_s_ovoshchami_200_g/',
							type:'second'
						},
						{
							img:'product14_1.jpg',
							img2:'product14_2.jpg',
							title:'ПалычЛанч Фрикасе из индейки с овощами и птитимом',
							country:'Франция',
							country_code: 'france',
							link:'https://palich.ru/catalog/gotovye_blyuda/vtorye_blyuda/palychlanch_frikase_iz_indeyki_s_ovoshchami_i_ptitimom_220_g/',
							type:'second'
						},
						{
							img:'product15_1.jpg',
							img2:'product15_2.jpg',
							title:'Поке с курицей 0,22',
							country:'Гаваи',
							country_code: 'hawaii',
							link:'https://palich.ru/catalog/gotovye_blyuda/salaty_zakuski/poke_s_kuritsey_220_g/',
							type:'second'
						},
						{
							img:'product16_1.jpg',
							img2:'product16_2.jpg',
							title:'Поке с форелью 0,21',
							country:'Гаваи',
							country_code: 'hawaii',
							link:'https://palich.ru/catalog/gotovye_blyuda/salaty_zakuski/poke_s_forelyu_210_g/',
							type:'second'
						},
						{
							img:'product17_1.jpg',
							img2:'product17_2.jpg',
							title:'салат Греческий 0,18',
							country:'Греция',
							country_code: 'greece',
							link:'https://palich.ru/catalog/gotovye_blyuda/salaty_zakuski/salat_grecheskiy_180_g/',
							type:'salad'
						},
						{
							img:'product18_1.jpg',
							img2:'product18_2.jpg',
							title:'салат Нисуаз с тунцом 0,18',
							country:'Франция',
							country_code: 'france',
							link:'https://palich.ru/catalog/gotovye_blyuda/salaty_zakuski/salat_nisuaz_s_tuntsom_180_g/',
							type:'salad'
						},
						{
							img:'product19_1.jpg',
							img2:'product19_2.jpg',
							title:'Салат Нью-Йорк с говядиной 0,18',
							country:'Америка',
							country_code: 'america',
							link:'https://palich.ru/catalog/gotovye_blyuda/salaty_zakuski/salat_nyu_york_s_govyadinoy_180_g/',
							type:'salad'
						},
						{
							img:'product20_1.jpg',
							img2:'product20_2.jpg',
							title:'Нью-Йорк с курицей 0,2',
							country:'Америка',
							country_code: 'america',
							link:'https://palich.ru/catalog/gotovye_blyuda/salaty_zakuski/salat_nyu_york_s_kuritsey_200_g/',
							type:'salad'
						},
						{
							img:'product21_1.jpg',
							img2:'product21_2.jpg',
							title:'Цезарь с курицей 0,18',
							country:'Америка',
							country_code: 'america',
							link:'https://palich.ru/catalog/gotovye_blyuda/salaty_zakuski/salat_tsezar_s_kuritsey_180_g/',
							type:'salad'
						},
						{
							img:'product22_1.jpg',
							img2:'product22_2.jpg',
							title:'Цезарь с форелью 0,18',
							country:'Америка',
							country_code: 'america',
							link:'https://palich.ru/catalog/gotovye_blyuda/salaty_zakuski/salat_tsezar_s_forelyu_180_g/',
							type:'salad'
						},
						{
							img:'product23_1.jpg',
							img2:'product23_2.jpg',
							title:'Лагман 0,3',
							country:'Узбекистан',
							country_code: 'uzbekistan',
							link:'https://palich.ru/catalog/gotovye_blyuda/pervye_blyuda/lagman_300_g/',
							type:'first'
						},
						{
							img:'product24_1.jpg',
							img2:'product24_2.jpg',
							title:'Суп Рамэн с курицей 0,3',
							country:'Япония',
							country_code: 'japan',
							link:'https://palich.ru/catalog/gotovye_blyuda/pervye_blyuda/sup_ramen_300_g/',
							type:'first'
						},
						{
							img:'product25_1.jpg',
							img2:'product25_2.jpg',
							title:'Суп Том Ям с кальмаром 0,36',
							country:'Таиланд',
							country_code: 'thailand',
							link:'https://palich.ru/catalog/gotovye_blyuda/pervye_blyuda/sup_tom_yam_s_kalmarom_360_g/',
							type:'first'
						},
						{
							img:'product26_1.jpg',
							img2:'product26_2.jpg',
							title:'Суп Том Ям с курицей 0,36',
							country:'Таиланд',
							country_code: 'thailand',
							link:'https://palich.ru/catalog/gotovye_blyuda/pervye_blyuda/sup_tom_yam_s_kuritsey_360_g/',
							type:'first'
						},
						{
							img:'product27_1.jpg',
							img2:'product27_2.jpg',
							title:'Суп Фо Бо с говядиной 0,3',
							country:'Вьетнам',
							country_code: 'vietnam',
							link:'https://palich.ru/catalog/gotovye_blyuda/pervye_blyuda/sup_fo_bo_s_govyadinoy_300_g/',
							type:'first'
						},
						{
							img:'product28_1.jpg',
							img2:'product28_2.jpg',
							title:'Суп-харчо с говядиной 0,3',
							country:'Грузия',
							country_code: 'georgia',
							link:'https://palich.ru/catalog/gotovye_blyuda/pervye_blyuda/sup_kharcho_s_govyadinoy_300_g/',
							type:'first'
						},
					]
				each item in list
					.product-item.js-product-item(data-country=item.country_code, data-type=item.type)
						.product-item__slider
							.swiper.product-slider.js-product-slider
								.swiper-wrapper
									.swiper-slide.product-slider__item
										a(href=item.link)
											img(src="assets/img/"+item.img, alt="")

									.swiper-slide.product-slider__item
										a(href=item.link)
											img(src="assets/img/"+item.img2, alt="")
									
									.swiper-pagination.js-product-slider-pager

						.product-item__content
							.product-item__title
								a(href=item.link)= item.title
							.product-item__country= item.country

	section.info-block
		.st-width
			.info-block__content
				.info-block__img
					img(src="assets/img/plate2.png", alt="")

				.info-block__info
					.info-block__desc <b>Для того, чтобы быстрее найти такие блюда среди многочисленного ассортимента</b> (у ТМ "У Палыча" более 150 видов готовых блюд), <b>мы пометили их эмблемой</b>
						br
						span.text-accent "КУХНИ МИРА".

					a(href="https://palich.ru/").btn <u>найти блюда на сайте</u>

	section.advant-wrap
		.st-width
			.advant-list
				.advant-item
					.advant-item__icon
						img(src="assets/img/ic-city.svg", alt="")
					.advant-item__label Для людей, живущих в ритме большого города

				.advant-item
					.advant-item__icon
						img(src="assets/img/ic-time.svg", alt="")
					.advant-item__label Для тех, кому некогда готовить

				.advant-item
					.advant-item__icon
						img(src="assets/img/ic-tableware.svg", alt="")
					.advant-item__label Для ценителей разнообразия высокой гастрономии

				.advant-item
					.advant-item__icon
						img(src="assets/img/ic-products.svg", alt="")
					.advant-item__label Для тех, кому важно качество продуктов

	section.steps-wrap
		.st-width
			.steps-wrap__title Путешествуй с блюдами ТМ «У Палыча» не выходя со своей кухни!

			.steps-list
				-
					var list=[
						{
							num:'1',
							img:'step1.png'
						},
						{
							num:'2',
							img:'step2.png'
						},
						{
							num:'3',
							img:'step3.png'
						},
					]
				each item in list
					.step-item
						.step-item__img
							img(src="assets/img/"+item.img, alt="")

						.step-num
							.step-num__val= item.num
							.step-num__label шаг